<p class="text-center my-3" *ngIf="todoArr.length === 0">loading...</p>
<div class="container" *ngIf="todoArr.length > 1">
  <div class="row">
    <div class="col-12 col-4" *ngFor="let entity of todoArr">
      <div
        class="card rounded-5 my-3"
        [ngClass]="{
          completed: entity.toDo?.completed,
          'not-completed': !entity.toDo?.completed
        }"
      >
        <img [src]="entity.image" class="card-img-top" alt="img-author" />
        <div class="card-body">
          <h5 class="card-title">
            {{ entity.firstName }} {{ entity.lastName }}
          </h5>
          <p>Mansione: {{ entity.title }}</p>

          <p class="card-text">
            <span *ngIf="entity.toDo; else noTodo">
              Task: {{ entity.toDo.todo }} (ID: {{ entity.toDo.id }})
              <span *ngIf="entity.toDo.completed"> - Completed</span>
              <span *ngIf="!entity.toDo.completed"> - Not Completed</span>
            </span>
            <ng-template #noTodo>Nessun to-do assegnato</ng-template>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
