<p class="text-center mt-3" *ngIf="ibridUsers.length < 1">loading...</p>
<div class="container">
  <div class="row" *ngIf="ibridUsers.length > 0">
    <div class="col-12 col-md-4 my-3" *ngFor="let user of ibridUsers">
      <div class="card rounded-5">
        <img
          src="{{ user.image }}"
          class="card-img-top mx-auto"
          alt="img-user"
        />
        <div class="card-body d-flex flex-column justify-content-around">
          <p class="text-center">{{ user.firstName }} {{ user.lastName }}</p>
          <h5 class="text-center my-2">Task:</h5>
          <ng-container *ngFor="let todo of user.todo">
            <p
              [ngClass]="
                todo.completed
                  ? 'text-success text-center'
                  : 'text-danger text-center'
              "
            >
              {{ todo.todo }}
            </p>
            <p *ngIf="!todo.todo">no task for this user</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
