<h1>Lista dei Todo</h1>
<table class="table opacity-75">
  <thead>
    <tr>
      <th>ID</th>
      <th>Todo</th>
      <th>Completato</th>
      <th>ID Utente</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoArr">
      <td
        [ngClass]="{
          completed: todo.completed,
          'not-completed': !todo.completed
        }"
      >
        {{ todo.id }}
      </td>
      <td
        [ngClass]="{
          completed: todo.completed,
          'not-completed': !todo.completed
        }"
      >
        {{ todo.todo }}
      </td>
      <td
        [ngClass]="{
          completed: todo.completed,
          'not-completed': !todo.completed
        }"
      >
        <input
          type="checkbox"
          [checked]="todo.completed"
          (change)="toggleCompleted(todo)"
        />
      </td>
      <td
        [ngClass]="{
          completed: todo.completed,
          'not-completed': !todo.completed
        }"
      >
        {{ todo.userId }}
      </td>
    </tr>
  </tbody>
</table>
