<h1>Lista dei Todo</h1>
<table class="table opacity-75">
  <thead>
    <tr>
      <th>ID</th>
      <th>Todo</th>
      <th>Completato</th>
      <th>Nome User</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of ibridUserArr">
      <tr *ngFor="let todo of user.todo">
        <td
          [ngClass]="{
            completed: todo.completed,
            'not-completed': !todo.completed
          }"
        >
          {{ todo.id }}
        </td>
        <td
          [ngClass]="{
            completed: todo.completed,
            'not-completed': !todo.completed
          }"
        >
          {{ todo.todo }}
        </td>
        <td
          [ngClass]="{
            completed: todo.completed,
            'not-completed': !todo.completed
          }"
        >
          <input
            type="checkbox"
            [checked]="todo.completed"
            (change)="toggleCompleted(todo)"
          />
        </td>
        <td
          [ngClass]="{
            completed: todo.completed,
            'not-completed': !todo.completed
          }"
        >
          {{ user.firstName }} {{ user.lastName }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
